section.login-page {
    border:2px solid black;
    height: 38.625rem;
    width: 28rem;
    position: absolute;
    top: 1.25rem;
    left: 28.2rem;
    overflow: hidden;
    z-index: 1;
    box-shadow: -1px 5px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 20px 0px rgba(0,0,0,0.75);
}