.container {
    position: absolute;
    font-family: "ui-sans-serif", system-ui, sans-serif;
    box-sizing: border-box;
    width: 100vw;
    height: 108vh;
}

.root {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;

}

.root__main {
    height: 95%;
    width: 28rem;
    background-color: #898784;
    z-index: 2;
    position: absolute;
    top: 1.25rem;
    left: 28.2rem;
}

#login {
    z-index: 3;
    height: 14.125rem;
    width: 28rem;
    background-color: black;
    position: relative;
    position: absolute;
    top: 1rem;
    left: 28.2rem;
    overflow: hidden;
}

/* #signup {
    z-index: 3;
    height: 19rem;
    width: 25rem;
    background-color: blue;
    position: absolute;
    bottom: 2.3rem;
    left: 29.7rem;
    overflow: hidden;
} */


#signup {
    z-index: 3;
    height: 23rem;
    width: 28rem;
    background-color: blue;
    position: absolute;
    bottom: 2.3rem;
    left: 28.2rem;
    overflow: hidden;
}