.root {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: oklch(0.21 0.034 264.665);
}







/* ._root {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffd8a8;
}
._root__aside-bar {
    width: 200px;
    height: 90vh;
    background-color: #b2f2bb;
}
._root__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #a5d8ff;
} */
