#button {
    padding: 0.5rem 1rem;
    width: 12.25rem;
    height: 3rem;
    background-color: #E9A700;
    border-radius: .75rem;
    /* border: 2px solid #E5E7EB; */
    border: none;
}

#button a {
    text-decoration: none;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#button a img {
    width: 1.125rem;
    height: 1.125rem;
}

#btnText {
    font-size: 14px;
    font-family: "ui-sans-serif", system-ui, sans-serif;
    Font-weight: 600;
    line-height: 1.25rem;
     color: #101828;
}

#button:hover {
  background: linear-gradient(to right, #d99114, #a1711d);
}